@charset "UTF-8";
/* CSS Document */

/*
  Colour Palette
  - Light Pink: #FFDBDB - rgb(255,219,219)
  - Medium Pink: #FFC2C3 - rgb(255,194,195)
  - Darker Pink: #FF797C - rgb(255,121,124)
  - Bright Pink: #FF4B4E - rgb(255,75,78)
 */

.btn,
.btn:link, 
.btn:visited {
	display: inline-block;
	padding: .5em 1.5em;
	background-color: #FFDBDB; 
	background-image: linear-gradient(to bottom, #FFD3D4, #FFA9AA); 
	/*box-shadow: 1px 1px 3px rgba(0,0,0,0.5);*/
	color: #fff; 
	border: 0;
}

.btn-alt, 
.btn-alt:link,
.btn-alt:visited {
	background-color:#FF797C ; 
	background-image: linear-gradient(to bottom, #FF797C, #DD575A);	
}