@charset "UTF-8";
/* CSS Document */

.bottom {
	background: #FF797C;
	overflow:hidden;
}

.nav-bottom {
	padding-top: 1rem;
	margin: 0;
	text-align: center;
	padding-bottom: 1rem;
}

.social-icons {
	position:relative;
	margin:auto; 
	text-align: center;
}

.copyright {
	float: left;
	padding-bottom: 1rem;
}