@charset "UTF-8";
/* CSS Document */

.nav-top {
	background: #FF797C;
	overflow:hidden;
	text-align:center;
	width:100%;
}

.logo {
	width: 5rem;
	padding: 2 rem;
}

.circle-fixed {
	padding: 1rem;
}
