@charset "UTF-8";
/* CSS Document */

.round {
	border-radius: 12px;
}

.background {
	background: #fff;
	width: 90%;
	margin:auto;
	padding: 5% 0;
	overflow:hidden;
}

.sale {
	overflow: hidden;
}

.sale-img {
	width: 100%;
	margin: 0;
	overflow:hidden;
	position:relative;
}

.sale-description {
	background-color: #FFC2C3;
}

.sale-buy-now {
	position:relative;
}