# Accessibility Testing Report

User testing was conducted by Sarah Knowles on March 31 between the times of 4:00pm and 6:30pm with the following participants:

- Alex Martin
- Evan Grice
- Gabe Mitchell

## Tasks

1. Find the link to Facebook 
2. Search for Posters and select 2nd search result 
3. Buy something, anything

---

## Individual Results & Observations

### Alex Martin

- Everything worked fine for the voiceover
- You need to add a main landmark for easier navigation
- etc.

### Gabe Mitchell

- Completed tasks as expected
- etc.

### Evan Grice 

- Completed tasks as expected 
- No problems


---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Nothing major

### Serious, Causes Frustration, May Hinder Completion

- N/A

### Minor, Annoying, Won’t Hinder Completion

- N/A