---
layout: default
title: Home
meta: Buds and Branches, a unique online shop specializing in beautiful prints and items specially handcrafted and chosen to complement your style.
showbanner: yes
bannertext: This is the home page. Welcome!
---

<div class="grid">
	<div class="unit unit-c-2-3 bump">
		<h1 class="peta"> Buds and Branches </h1>
		<p> Welcome! Here at Buds and Branches we love all things well designed. Here we have a unique collection of limited edition and personlizable items perfect for your own beautiful collection or to gift to a friend. The hunt end here to find something you love. </p>
	</div>
</div>

<div class="grid">
	<div class="unit unit-s-1 unit-m-1 unit-l-1">
		{% include promo-small.html title="Welcome to Amelia Badelia our Guest Artist this month" desc="A graphic designer and photographer she combines a beautiful blend of type and imagery" image="explore.jpg" %}
	</div>
</div>

<div class="grid-grey grid">
	
	<div class="unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Handmade Scarves" desc="Infinity Loops 50% OFF!" blurb="Limited time offer" image="stripes.jpg" %}
	</div>
	
		<div class="unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Fan Art" desc="Your favourite films and our favourite pieces" blurb="New Artists" image="mountain.jpg" %}
	</div>
	
	<div class="unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Words Abound" desc="Inspire your life and home with these pieces!" blurb="Guest Artists" image="travel.png" %}
	</div>
	
</div>	





