@charset "UTF-8";
/* CSS Document */

.large-bucket {
	background-color:#FFBFC0;
	padding: 1.5em 3em;
	margin:auto;
	width: 90%;
	text-align:center;
	margin:auto;
}


.small-bucket {
	width: 100%;
	background: #F7F7F7;
	overflow:auto;
	display: inline-block;
	float: left;
	margin: auto;
	text-align:center;
}

.media-img {
	width: 30%;
}

.object {
	width: 90%;
	margin:auto;
}