@charset "UTF-8";
/* CSS Document */

/*
  Colour Palette
  - Light Pink: #FFDBDB - rgb(255,219,219)
  - Medium Pink: #FFC2C3 - rgb(255,194,195)
  - Darker Pink: #FF797C - rgb(255,121,124)
  - Bright Pink: #FF4B4E - rgb(255,75,78)
 */

.btn,
.btn:link, 
.btn:visited {
	margin-top: .5rem;
	display: inline-block;
	padding: .5em 1.5em;
	background-color: #ffdd00; 
	color: #000; 
	border: solid 1px #000;
}

.btn-alt, 
.btn-alt:link,
.btn-alt:visited {
	background-color: white ; 
}

.btn-flat, 
.btn-flat:link,
.btn-flat:visited {
	display: inline-block;
	padding: .5em 1.5em;
	background-color: #FF797C; 
	color: #fff; 
	border: 0;
}

.btn-flat-alt, 
.btn-flat-alt:link,
.btn-flat-alt:visited {
	background-color: #fff; 
	color: #000; 
}
	
	
.btn:hover,
.btn:focus {
	background-color: #ffdd00;
	color: white;
	border:3px solid black;	
}