<!doctype html>
<html lang="en-ca">
<head>
<meta charset="UTF-8">
<title>{{page.title}} · Buds and Branches</title>
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href='http://fonts.googleapis.com/css?family=Merriweather:700,400,300,300italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:600,700' rel='stylesheet' type='text/css'>
<link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/product-list.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/product-details.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/forms.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/buckets.css" rel="stylesheet">
<meta name="description" content="{{page.meta}}">
</head>
<body>

<header>	
	<div class="nav-top"> 
		<div class="circle-fixed">
	 		<img class="logo" src="{{site.baseurl}}/images/buds.jpg" alt="logo-type">
		</div>
				<ul class="list-group mega">
					 <li class="list-group-item-inline brand-face"><a class="{% if page.url == '/' %}current{% endif %}" href="{{site.baseurl}}/">Home</a></li>
					<li class="list-group-item-inline brand-face"><a href="#">/</a></li>
					<li class="list-group-item-inline brand-face"><a class="{% if page.url contains '/about/' %}current{% endif %}" href="{{site.baseurl}}/about/">About</a></li>
					<li class="list-group-item-inline brand-face"><a href="#">/</a></li>
					<li class="list-group-item-inline brand-face"><a class="{% if page.url == '/thank-you/' %}current{% endif %}" href="{{site.baseurl}}/thank-you/">Thank You</a></li>
					<li class="list-group-item-inline brand-face"><a href="#">/</a></li>
					<li class="list-group-item-inline brand-face"><a class="{% if page.url == '/shop/' %}current{% endif %}" href="{{site.baseurl}}/shop/">Shop</a></li>
					<li class="list-group-item-inline brand-face"><a href="#">/</a></li>
				</ul>
			
		<div>
			<form class="box-form">
    			<input type="text" class="search brand-face kilo">
   				 <button type="submit" class="btn btn-alt brand-face kilo">Search</button>
			</form>
		</div>
	</div>
</header>

{% if page.showbanner %}
<div class="banner">
	<h2 class="white">{{page.bannertext}}</h2>
</div>
{% endif %}

{{content}}

<footer class="footer">
	<div class="bottom">
		<div class="nav-bottom">
			<ul class="list-group mega">
					 <li class="list-group-item-inline brand-face"><a href="{{site.baseurl}}/">Home</a></li>
					<li class="list-group-item-inline brand-face"><a href="#">/</a></li>
					<li class="list-group-item-inline brand-face"><a href="{{site.baseurl}}/about/">About</a></li>
					<li class="list-group-item-inline brand-face"><a href="#">/</a></li>
					<li class="list-group-item-inline brand-face"><a href="{{site.baseurl}}/thank-you/">Thank You</a></li>
					<li class="list-group-item-inline brand-face"><a href="#">/</a></li>
					<li class="list-group-item-inline brand-face"><a class="{% if page.url == '/shop/' %}current{% endif %}" href="{{site.baseurl}}/shop/">Shop</a></li>
					<li class="list-group-item-inline brand-face"><a href="#">/</a></li>
				</ul>
			</div>
	<div class="social-icons">
		<ul class="list-group mega">
			 <li class="list-group-item-inline brand-face"><a href="#"><img src="{{site.baseurl}}/images/facebook.png"></a></li>
			<li class="list-group-item-inline brand-face"><a href="#"><img src="{{site.baseurl}}/images/twitter.png"></a></li>
			<li class="list-group-item-inline brand-face"><a href="#"><img src="{{site.baseurl}}/images/linkedin.png"></a></li>
		</ul>
	</div>
		<h6 class="copyright white micro"> © Sarah Knowles, Buds and Branches 2014 </h6>
	</div>
</footer>

</body>
</html>


