<!doctype html>
<html lang="en-ca">
<head>
<meta charset="UTF-8">
<title> {{page.title}} · Buds and Branches </title>
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="shortcut icon" href="images/favicon.ico">
<link rel="shortcut icon" href="images/favicon-32.ico">
<link href='http://fonts.googleapis.com/css?family=Merriweather:700,400,300,300italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:600,700' rel='stylesheet' type='text/css'>
<link href="{{site.baseurl}}/css/buds-and-branches.css" rel="stylesheet">
<meta name="description" content="{{page.meta}}">
</head>
<body>

<header class="masthead" role="banner">	
	<div class="nav-top"> 
		<div class="circle-fixed">
	 		<img class="logo" src="{{site.baseurl}}/images/buds.svg" alt="logo-type">
		</div>
			<nav role="navigation">
				<ul class="list-group mega">
					 <li class="list-group-item-inline brand-face"><a class="{% if page.url == '/' %}current{% endif %}" href="{{site.baseurl}}/">Home</a></li>
					<li class="list-group-item-inline brand-face"><a href="#">/</a></li>
					<li class="list-group-item-inline brand-face"><a class="{% if page.url contains '/about/' %}current{% endif %}" href="{{site.baseurl}}/about/">About</a></li>
					<li class="list-group-item-inline brand-face"><a href="#">/</a></li>
					<li class="list-group-item-inline brand-face"><a class="{% if page.url == '/thank-you/' %}current{% endif %}" href="{{site.baseurl}}/thank-you/">Thank You</a></li>
					<li class="list-group-item-inline brand-face"><a href="#">/</a></li>
					<li class="list-group-item-inline brand-face"><a class="{% if page.url == '/shop/' %}current{% endif %}" href="{{site.baseurl}}/shop/">Shop</a></li>
					<li class="list-group-item-inline brand-face"><a href="#">/</a></li>
				</ul>
			</nav>
			
		<div>
			<form method="get" action="{{site.baseurl}}/search/" class="box-form" role="search">
    			<input type="text" class="search brand-face kilo">
   				 <button type="submit" class="btn btn-alt brand-face kilo">Search</button>
			</form>
		</div>
	</div>
</header>

{% if page.showbanner %}
<div class="banner">
	<h2 class="white">{{page.bannertext}}</h2>
</div>
{% endif %}

{{content}}

<footer class="footer">
	<div class="bottom">
		<div class="nav-bottom">
			<ul class="list-group mega">
					 <li class="list-group-item-inline brand-face"><a href="{{site.baseurl}}/">Home</a></li>
					<li class="list-group-item-inline brand-face"><a href="#">/</a></li>
					<li class="list-group-item-inline brand-face"><a href="{{site.baseurl}}/about/">About</a></li>
					<li class="list-group-item-inline brand-face"><a href="#">/</a></li>
					<li class="list-group-item-inline brand-face"><a href="{{site.baseurl}}/thank-you/">Thank You</a></li>
					<li class="list-group-item-inline brand-face"><a href="#">/</a></li>
					<li class="list-group-item-inline brand-face"><a class="{% if page.url == '/shop/' %}current{% endif %}" href="{{site.baseurl}}/shop/">Shop</a></li>
					<li class="list-group-item-inline brand-face"><a href="#">/</a></li>
				</ul>
		</div>
	</div>
	<div class="social-icons">
		<ul class="list-group mega">
			 <li class="list-group-item-inline brand-face"><a href="#"><img src="{{site.baseurl}}/images/facebook.png" alt="link to facebook"></a></li>
			<li class="list-group-item-inline brand-face"><a href="#"><img src="{{site.baseurl}}/images/twitter.png" alt="link to twitter"></a></li>
			<li class="list-group-item-inline brand-face"><a href="#"><img src="{{site.baseurl}}/images/linkedin.png" alt="link to linkedin"></a></li>
		</ul>
	</div>
	<div role="contentinfo">
		<h6 class="copyright white micro"> © Sarah Knowles, Buds and Branches 2014 </h6>
	</div>
</footer>

</body>
</html>


