---
layout: default
---



<div class="grid"> 
<dl>
	<dt>
	<div class=" clear-right bump unit unit-s-1 unit-m-1-2 unit-l-1-2"> 
	<img src="{{site.baseurl}}/images/shop/paper.jpg" alt="Photo of {{shop.title}}" class="flex-img">
	</div>
	</dt>
	<dd class="brand clear giga">{{page.title}}</dd>
	<dd class="brand micro alternate">{{page.description}}</dd>
	<dd class="kilo brand cite">{{page.price}}</dd>
	<dd class="kilo brand cite clear">Sizing</dd>
	<dt class="brand micro">{{page.size}}</dt>
	<dd class="micro alternate">Please specify preffered size at checkout</dd>
	<dd> <a class="btn btn-alt brand-face space" href="{{site.baseurl}}/shop/cart/"> +Add to Cart </a></dd>
	<a class="btn btn-alt brand-face space" href="{{site.baseurl}}/shop/typography/"> Return  </a>
</dl>
</div>

{{content}}